<div class="container text-center">
  <h1>About Pages</h1>
  <p>Welcome to JargoNet. Here are some tasty links to learn more: </p>
  <br/>
  <%= link_to "GitHub", "https://github.com/BaronVonLarin", class: 'btn btn-info btn-lg btn-color-1' %>
  <%= link_to "Steam", "http://steamcommunity.com/profiles/76561198029763119/", class: 'btn btn-info btn-lg btn-color-2' %>
  
</div>