<div class="home-callout text-center container-fluid">
  <h1>Welcome to DevMatch</h1>
  <h3>A membership site where entrepreneurs can meet developers</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      One of three columns
    </div>
    <div class="col-sm text-center">
      One of three columns
    </div>
    <div class="col-sm text-center">
      One of three columns
    </div>
  </div>
</div>